<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>画像アップロード</title>
</head>
<body>
  <!-- formタグに「enctype="multipart/form-data"」記述する事で、画面側でファイルを受け取れる(アップロードできる状態になる) -->
  <form th:action="@{/portfolio/file/upload}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" id="file">
    <br><br>
    <button type="submit">アップロード</button>
  </form>
  <form action="#" th:action="@{/download}" method="get">
    <input type="hidden" name="_method" value="download" />
    <input type="submit" value="ダウンロード" />
  </form>
  <div>
    <p th:text="${message}"></p>
    <img th:src="${'data:image/png;base64,'+image}" alt="" height="250" width="250">
  </div>
</body>
</html>